@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}
/* Custom scrollbar for a modern look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* For horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #4B5563; /* gray-600 */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #22D3EE; /* primary */
   background-clip: padding-box;
   border-color: #374151; /* slate-700 */
}

/* For Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #111827; /* thumb color track color */
}
